<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Custom Mad libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill the blanks to complate the sentence.</h1>
    <form action="/MadLibOne" method="post">
      <label for="name">Name</label>
      <input id="name" name="name" type="text">

      <label for="place">Place</label>
      <input id="place" name="place" type="text">

      <label for="seoson">Seoson</label>
      <input id="seoson" name="seoson" type="text">

      <label for="explamation">Explamation</label>
      <input id="explamation" name="explamation" type="text">
      
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
