<!DOCTYPE html>
<html>
  <head>
    <title>Mad Lib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Select a Story</h1>
    <a href="Form1">First Story </a><br>
    <a href="Form2">Second Story </a><br>
  </body>
</html>
