<!DOCTYPE html>
<html>
  <head>
    <title>MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Travel</h1>
    <p>@Model.GetName() lost in the forest. In the deep of the forest saw a @Model.GetAdjective house and strange voices lika a  @Model.GetExclamation(). The weather was cloudy and dark, lika a dark @Model.GetSeason() days</p>
  </body>
</html>
